.navDefault {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4a4a4f;
}

a:link {
  text-decoration: none;
}

.name{
    margin-left: 30%;
    text-align: center;
    color: #8C7853; 
    size: large;
    text-shadow: #4A766E;
    font-size: 200px;
    font-weight: bold;
    
}
.home{
    margin-top: 5%;
    color:#C0D9D9;
    font-size: 40px;
    
}
.date{
    margin-top: 5%;
    color:#C0D9D9;
    font-size: 40px;
}
.row {
    margin-top: 150px;
    min-height: 250px;
    padding: 40px;
    
    
}
.logo-dj{
    background: url("../images/dj.jpg");
    height: 250px;
    width: 250px;
    margin:100px;
    background-repeat: no-repeat;
    margin-top: auto;

}
.logo-md{
    background: url("../images/md.jpg");
    height: 250px;
    width: 250px;
    margin:100px;
    background-repeat: no-repeat;
    margin-top: auto;
}
.logo-mn{
    background: url("../images/mn.jpg");
    height: 250px;
    width: 250px;
    margin:100px;
    background-repeat: no-repeat;
    margin-top: auto;
}

.logo-pt{
    background: url("../images/pt.jpg");
    height: 250px;
    width: 250px;
    margin:100px;
    background-repeat: no-repeat;
    margin-top: auto;
}

h2{
    color: #C0D9D9;
    font-weight: bolder;
}

.background-about{
    background-color: #AFAFAF;
   border: 10px dotted black;
  padding: 15px;
  background-clip: border-box;
}
.fas fa-home{
    font-weight: bold;
    font-size: 20px;
    
}
.logo {
    margin-top: 10%;
    background: url("../images/monkees.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.logo1 {
    margin-top:5%;
    background: url("../images/monkees1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 300px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.logo2{
     margin-top:0%;
    background: url("../images/band.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px 600px;
    min-height: 1000px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
button {
    border: none;
    background-color: #0997d3;
    width: 150px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
}

.dropdownMenu{
    list-style: none;
    margin:0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: -1;
    width: 150px;
    text-align: center;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-100%);
    transition: transform .5s ease-in-out;
}

.dropdownLink {
    text-decoration: none;
    display: block;
    background-color: #f9f9f9;
    color: #4a4a4f;
    padding: 10px 5px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

.dropdownLink:hover {
    color: #fff;
    background-color: #a0a0a3;
}

.dropdown {
    width: 150px;
    position: relative;
}

.dropdown:hover button {
    background-color: #018ec5;
    
}

.dropdown:hover .dropdownMenu {
    transform: translateY(0);
}