html{
    display: inline-block;
}


BODY {
   font-family: "Source Sans Pro";
   background-color: black;
}


h1{
    color: #0997d3;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em; 
}


h2{
    color: #0997d3;
    font-style: italic;
    font-weight: bold;
    font-size: 1.4em; 
}


h3{
    color: black;
    font-style: italic;
    font-size: 1.1em;
}


.social-media{
  margin:0;
  padding:0;
  list-style:none;
}


.sociallink{
        color: #8C7853;
}


.fa-facebook{
    color: #3b5998;
}


.fa-instagram{
    color: #3f729b;
}


.fa-twitter{
    color:#00acee;
}


.fa-spotify{
    color:#81b71a;
}


.fa-linkedin-in{
    color:#0e76a8;
}


.fa-soundcloud{
    color: #ff7700;
}


button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #525252;
    color: #fafafa;
} 


/*********music********/


a:link {
    text-decoration: none;
}



.music{
    margin:25px;
    text-align: center;
    color: #337ab7;
    background-size: cover;
    font-weight: bolder;
    background-color: #525252;
    box-shadow: 0 0 0 5px;
}


.music-button{
    color: black;
    background-color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 1.6em;
    font-style: italic;
}





ul {
  list-style: none
}


/*--------------------------------------------------------------------name*/

.row {
    min-height: 320px;
    margin-top: 40px;
    position: static;
    align-content: center;
    margin-left:15px;
    margin-right:15px;
}


/*--------------------------------------------------------------------nav buttons on top*/
.row1 {
    align-content: center;
    text-align: center;
}

.container-fluid {
    padding-right: -25px;
    padding-left: -25px;
}
.hvr-sweep-to-bottom::before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}


#nav {
    margin: 0;
}


#nav li {
    padding: 0;
}


.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}


.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}


.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}


.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


.ui-menu-color-home{
    background-color: #e67e22;
}


.ui-menu-color-about{
    background-color: #9b59b6;
}


.ui-menu-color-pictures{
    background-color: #3498db;
}


.ui-menu-color-music{
    background-color: #558B2F;
}


.ui-menu-color-video{
    background-color: #FFEA00;
}


.ui-menu-color-contact{
    background-color: #525252;
}


/*-----------------------------------------------------------------------------meet*/
.logo-dj{
    
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    margin-top: auto;
}


.logo-md{
  
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    margin-top: auto;
}


.logo-mn{
   
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    margin-top: auto;
}


.logo-pt{
    
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    margin-top: auto;
}


/*-------------------------------------------------------------------contact*/


.col-xs-6  {
    margin-top:20%;   
    align-content: center;

}


.col-md-4{
     margin-top:2%;
     align-content: center;
}


.col-xl-3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}


form{
    text-align: left;
}


.body background{
    background-repeat: no-repeat;
}


.background-meet{
    background-color: black;
    background-size: cover;
}


label {
    display: block;
    font: 1.2rem 'Fira Sans', sans-serif;
}


input,
label {
    margin: 0 10px;
}



/************************************************************************contact*/
button {
    border: none;
    background-color: #0997d3;
    width: 40%;
    height: 6%;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
/*************************************************************video*/
video{
    padding-top: 30px;
}
/*************************************************************************************************about**/
.date {
    margin-top: 5%;
    color: #0997d3;
    font-style: italic;
    z-index: 2;
    font-weight: bold;
      text-align: center;
}
/*********************************************************contact***********************************/
/*-----------------------------------------------------------------media queries*/
/**media querries  262px-**/
@media(max-width:262px){
    /**date about**/
.date{
    font-size: 0.6em;
    font-weight: normal;
}
/**buttons down and up index**/
.last {
    position: fixed;
    top: 55%;
    left: 0%;
    transform: rotate(-90deg);
}
.first {
    position: fixed;
    top: 55%;
    right: 0%;
    transform: rotate(90deg);
}
.smallcolor{
    color: white; 
    background-color: black;
    font-size: 1.3em;
}

/**menu nav contact**/
.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 85px;
}
.menuitem span{
    font-size:0.7em;
}
.col-xs-4 {
    width: 50%;
    height: 80px;
}
/**body background position and styles contact**/
body {
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
/**body background color**/
BODY {
    background-color: white;
}
/**the monkees home button contact**/
a.name{
    margin-top:10px;
    margin-left: 0;
    display: inline-block;
    font-family: 'Carter One', cursive;
    font-size: 1.5em;
    font-weight: bold;
    color: #337ab7;
}
/**validator css contact**/
.validator{
    display:none;
}
/**contact form contact **/
.form-control{
    display:inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.form-resizing{
        width: 100%;
}
.contactform{
   display:none;
}
/**submit contact button**/
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #525252;
    color: #fafafa;
    font-size:0.8em;
    height: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.button{
    width:100%;
}
/**follow & social media contact**/
.social-media {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    list-style: none;
    padding-left: 0;
}





/**media querries 767-262px**/
@media(max-width:767px) and (min-width:262px){
/**date about**/
.date{
    font-size: 1em;
}
/**buttons down and up index**/
.last {
    position: fixed;
    top: 55%;
    left: -7%;
    transform: rotate(-90deg);
}
.first {
    position: fixed;
    top: 55%;
    right: -9%;
    transform: rotate(90deg);
}
.smallcolor{
    color: white; 
    background-color: black;
    font-size: 1.3em;
}
/**body background position and styles  contact**/ 
body{
    background-position: left 0% top 240px;
}
/**the monkees home button  contact**/
a.name{
    font-family: 'Carter One', cursive;
    font-size: 2.5em;
    font-weight: 800;
    color: #337ab7;
    transform: rotate(-20deg);
}
/**validator css  contact**/
.validator {
    position: absolute;
    bottom: -30%;
    left: 75%;
}
/**contact form  contact**/
.form {
    margin-top: 30%;
}
.form-resizing{
        position: absolute;
        top:450px;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px 12px;
    font-size: 1em;
    line-height: 1.0;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contactform {
    background-color: white;
    font-size: 0.7em;
    color: black;
    font-weight: lighter;
    display: inline-block;
    border: 1px black solid;
    position: relative;
    left: 0%;
    top: 122px;
}
/**submit contact button  contact**/
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #525252;
    color: #fafafa;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/**follow & social media  contact**/
.follow {
    font-size: 1em;
    color: red;
    animation: beat .5s infinite alternate;
    transform-origin: right;
    text-align: right;
    font-weight: bolder;
    position: absolute;
    bottom: -30%;
    right: 70%;
}
.social-links {
    position: fixed;
    border: 1px solid #0997d3;
    top: 90%;
    right: 33%;
    color: #8C7853;
    background-color: transparent;
    font-size: 1.2em;
}
.socialItem{
    padding:4px;
}
ul li{
  float: left;
}
}










/**media querries  768-991px**/
@media(max-width: 991px) and (min-width: 768px)
{
/**name meet, pictures**/
.name {
    margin-left: 0;
    display: inline-block;
    font-size: 140px;
    font-weight: bold;
    background-color: transparent;
}
/**date about**/
.date{
    font-size: 1.5em;
}
/**buttons down and up index**/
.last {
    position: fixed;
    top: 55%;
    left: 0%;
    transform: rotate(-90deg);
}
.first {
    position: fixed;
    top: 55%;
    right: 0%;
    transform: rotate(90deg);
}
.smallcolor{
    color: white; 
    background-color: black;
    font-size: 1.3em;
}
/**body background position and styles contact**/
body {
  background-position: left 50% top 120px;
}
/**the monkees home button contact**/
.name{
    margin-left: 0;
    display: inline-block;
    font-size: 140px;
    font-weight: bold;
    background-color: transparent;
}
/**validator css contact**/
    .validator {
    position: fixed;
    bottom: 1%;
    left: 50%;
}
/**contact form contact**/
.contactform {
    margin-top: 40%;
    text-align: left;
    margin-right: 5px;
    font-size: 2em;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 1.8em;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.col-xs-6 {
    width: 65%;
}
/**submit contact button**/
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #525252;
    color: #fafafa;
}
.btn {
    display: inline-block;
    padding: 5px 11px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button {
    width: 60%;
    height: 10%;
    text-transform: uppercase;
}
/**follow & social media contact**/
.social-links {
    position: fixed;
    border: 3px solid #0997d3;
    top: 85%;
    right: 3%;
    color: #8C7853;
    background-color: transparent;
    font-size: 2.6em;
    padding-left: 5px;
}
.follow {
    font-size: 2.0em;
    color: red;
    animation: beat 1s infinite alternate;
    transform-origin: right;
    text-align: right;
    font-weight: bolder;
    position: fixed;
    top: 91%;
    right: 4%;
}
ul li {
    float: left;
}
}






/**media querries  992px+**/
@media(min-width: 992px){
/**buttons down and up index**/
/**date about**/
.date{
    font-size: 2em;
}
.last {
    position: fixed;
    top: 55%;
    left: 0%;
    transform: rotate(-90deg);
}
.first {
    position: fixed;
    top: 55%;
    right: 0%;
    transform: rotate(90deg);
}
.smallcolor{
    color: white; 
    background-color: black;
    font-size: 1.3em;
}
/**name meet, pictures**/
.name {
    margin-left: 0;
    display: inline-block;
    font-size: 140px;
    font-weight: bold;
    background-color: transparent;
}
/**css validator contact**/   
.validator {
    position: fixed;
    bottom: 1%;
    left: 1%;
}
/**contact form **/
.col-md-4 {
    width: 100%;
    margin-top: 2%;
    align-content: center;
}
.contactform
{
    margin-top: 53%;
    text-align: center;
    margin-right: 5px;
    font-size: 2em;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 2em;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/**submit contact button**/
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #525252;
    color: #fafafa;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.btn {
    padding: 6px 12px;
    font-size: 2.2em;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.button{
    width: 50%;
    height: 10%;
    text-transform: uppercase;
}
/**follow & social media contact**/
.follow {
    font-size: 4.0em;
    color: red;
    animation: beat 1s infinite alternate;
    transform-origin: right;
    text-align: right;
    font-weight: bolder;
    position: fixed;
    top: 91%;
    right: 4%;
}
.social-links {
    position: fixed;
    border: 3px solid #0997d3;
    top: 84%;
    right: 3%;
    color: #8C7853;
    background-color: transparent;
    font-size: 4.6em;
    padding-left: 5px;
}
ul li {
    float: left;
}
}