BODY {
   font-family: "Source Sans Pro";
}


h2{
    color: #0997d3;
    font-style: italic;
    font-weight: bold;
    font-size: 18px; 
}


h3{
    color: #fff;
    font-style: italic;
    font-size: 15px;
}



.social-media{
  margin:0;
  padding:0;
  list-style:none;
}


.sociallink{
        color: #8C7853;
}


.fa-facebook{
    color: #3b5998;
}


.fa-instagram{
    color: #3f729b;
}


.fa-twitter{
    color:#00acee;
}


.fa-spotify{
    color:#81b71a;
}


.fa-linkedin-in{
    color:#0e76a8;
}


.fa-soundcloud{
    color: #ff7700;
}


button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #525252;
    color: #fafafa;
} 


a:link {
  text-decoration: none;
  color: #0997d3;
}


.music{
    margin:25px;
    text-align: center;
    color: #BF360C;
    background-size: cover;
    font-size: 40px;
    font-weight: bolder;
}


.music-button{
    color: #fff;
    background-color: transparent;
    padding: 20px;
}


.date{
    margin-top: 5%;
    color: #0997d3;
    font-size: 40px;
    font-style: italic;
    z-index:2;
    font-weight: bold;
    margin-left:30px;
}


ul {
  list-style: none
}


/*--------------------------------------------------------------------name*/

.row {
    min-height: 320px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    position: static;
    align-content: center;
}


/*--------------------------------------------------------------------nav buttons on top*/
.row1 {
    margin-right: -15px;
    margin-left: -15px;
    align-content: center;
    text-align: center;
}


.hvr-sweep-to-bottom::before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}


#nav {
    margin: 0;
}


#nav li {
    padding: 0;
}


.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}


.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}


.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}


.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


.ui-menu-color-home{
    background-color: #e67e22;
}


.ui-menu-color-about{
    background-color: #9b59b6;
}


.ui-menu-color-pictures{
    background-color: #3498db;
}


.ui-menu-color-music{
    background-color: #558B2F;
}


.ui-menu-color-video{
    background-color: #FFEA00;
}


.ui-menu-color-contact{
    background-color: #525252;
}


/*-----------------------------------------------------------------------------meet*/
.logo-dj{
    background: url("../images/dj.jpg");
    height: 320px;
    width: 320px;
    background-repeat: no-repeat;
    margin-top: auto;
}


.logo-md{
    background: url("../images/md.jpg");
    height: 320px;
    width: 320px;
    background-repeat: no-repeat;
    margin-top: auto;
}


.logo-mn{
    background: url("../images/mn.jpg");
    height: 320px;
    width: 320px;
    background-repeat: no-repeat;
    margin-top: auto;
}


.logo-pt{
    background: url("../images/pt.jpg");
    height: 320px;
    width: 320px;
    background-repeat: no-repeat;
    margin-top: auto;
}


/*-------------------------------------------------------------------contact*/


.col-xs-6  {
    margin-top:20%;   
    align-content: center;

}


.col-md-4{
     margin-top:5%;
     align-content: center;
}


.col-xl-3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}


form{
    text-align: left;
}


.background-about{
    background-color: #8C7853;
    border-style: double;
    padding: 4px;
    background-clip: border-box;
    background-size: cover;
}


.background-meet{
    background-color: black;
    background-size: cover;
}


label {
    display: block;
    font: 1.2rem 'Fira Sans', sans-serif;
}


input,
label {
    margin: 0 10px;
}



.logo {
    margin-top: 0;
    background: url("../images/band.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    min-height: 700px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


.logo2{
    margin-top:0%;
    background: url("../images/microphone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    min-height: 400px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


.logo3{
    margin-top:0%;
    background: url("../images/monkeesbnw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    min-height: 800px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


.logo4{
    margin-top: 0%;
    background: url("../images/oldmonkees.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    min-height: 700px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/***logo5**/

.logo5{
    margin-top: 0%;
    background: url("../images/album2.jpg");
    position: relative;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-color: transparent;
    min-width: 100%;
    min-height: 100%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/**logo6**/

.logo6{
    margin-top: 0%;
    background: url("../images/cover3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    min-height: 700px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
button {
    border: none;
    background-color: #0997d3;
    width: 200px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}


video{
    padding-top: 30px;
}

/*-----------------------------------------------------------------media queries*/

@media(max-width: 768px)
{
.name    {
    margin-left: 0;
    display: inline-block;
    padding-top: 10%;
    color: #8C7853; 
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    transform: rotate(-20deg);
}
.description{
    color: #0997d3;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

.contactform{
    text-align: left;
    margin-right: 5px;
    padding-right: 10px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    display:inline-block;
    border:3px #0997d3 solid;
    position: relative;
    width:40%;}
}


.social-links{
    position: fixed;
    border: 3px solid #0997d3;
    top:35%;
    right:3%;
    color: #8C7853;
    background-color: transparent;
    font-size: 30px;
    padding-left: 5px;
}



.follow {
	font-size: 30px;
	color: red;
	animation: beat .5s infinite alternate;
	transform-origin: right;
	text-align: right;
	font-weight: lighter;
	position: fixed;
	top: 30%;
	right: 1%;
}

@keyframes beat{
	to { transform: scale(1.4); }
}


@media(min-width: 769px)
{
 .name{
    margin-left: 0;
    display: inline-block;
    color: #8C7853; 
    font-size: 140px;
    font-weight: bold;
    background-color: transparent;
}


.description{
    color: #0997d3;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}


.contactform{
    margin-top: 40%;
    text-align: left;
    margin-right: 5px;
}


.social-links{
    position: fixed;
    border: 3px solid #0997d3;
    top:25%;
    right:3%;
    color: #8C7853;
    background-color: transparent;
    font-size: 30px;
    padding-left: 5px;
}


.follow {
	font-size: 30px;
	color: red;
	animation: beat .5s infinite alternate;
	transform-origin: right;
	text-align: right;
	font-weight: lighter;
	position: fixed;
	top: 20%;
	right: 1%;
}
}
@keyframes beat{
	to { transform: scale(1.4); }
}


